<div id="menu">
    <style>
        .scrollablemenu {
          text-align: left;
        }
      </style>
    <ul>
        <div class = "scrollablemenu">    
            <h1>What Is a User Agreement?
                A user agreement is an agreement made between the owner, 
                administrator or provider of a web or mobile application based 
                service and the user of such a service, that defines the rights 
                and responsibilities of both the parties. Privacy policies, website 
                terms and conditions, etc. are all examples of a user agreement.
                
                Sometimes, you may be legally required to have a user agreement. 
                For example, if you collect personal information from the user 
                through your mobile app or website, you must let your users 
                know about it through a legal statement, typically known as 
                privacy policy.
                
                It's a good idea to divide a user agreement into different 
                sections. Sometimes, you may want to have multiple different 
                agreements, rather than a single lengthy agreement. For example, 
                a user looking for specific information pertaining to returns 
                and refunds should be able to find it easily in a separate section 
                or agreement, without having to dig through lengthy terms and conditions
                 relating to various other topics. You can either have a separate section 
                 for returns and refunds under the main agreement or have an altogether 
                 separate agreement for returns and refunds policies.
            </h1>
        </div>

    </ul>
</div>


