<link rel="stylesheet" type="text/css" href="/node_modules/primeicons/primeicons.css" />
<link rel="stylesheet" type="text/css" href="/node_modules/primeng/resources/themes/nova-light/theme.css" />
<link rel="stylesheet" type="text/css" href="/node_modules/primeng/resources/primeng.min.css" />
<h1>
<header class="header">   

    <div class = "container.my-container{
        background-color: red;
     }">
        
        <div class="row">
            <div class = "col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <div class="logo">
                    <img class="logo" src="./assets/logo.png" width="70" height="60"/>
        
                </div> <!--logo-->
            </div> <!--col-->
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                <nav class = "menu float-right"></nav>
            </div> <!--col-->
        </div><!--row-->
    </div><!--container-->
</header>
</h1>