/* AppComponent's private CSS styles */
h1 {
    font-size: 1.2em;
    margin-bottom: 0;
    background-color: #070330;
  }
  h2 {
    font-size: 2em;
    margin-top: 0;
    padding-top: 0;
  }
  nav a {
    padding: 0px 0px;
    text-decoration: none;
    margin-top: 10px;
    display: inline-block;
    background-color: #070330;
    border-radius: 4px;
  }
  nav a:visited, a:link {
    color: #334953;
  }
  nav a:hover {
    color: #039be5;
    background-color: #070330;
  }
  nav a.active {
    color: #039be5;
  }

  body, html {
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-color: #070330;
  }
 
  
  /*
  Copyright Google LLC. All Rights Reserved.
  Use of this source code is governed by an MIT-style license that
  can be found in the LICENSE file at http://angular.io/license
  */