<link rel="stylesheet" type="text/css" href="/node_modules/primeicons/primeicons.css" />
<link rel="stylesheet" type="text/css" href="/node_modules/primeng/resources/themes/nova-light/theme.css" />
<link rel="stylesheet" type="text/css" href="/node_modules/primeng/resources/primeng.min.css" />

<h1>
    <app-header></app-header> <!--This is where the header goes-->
     
    <app-sidescroll style="float:left"></app-sidescroll>

    <div class = "body">
        <app-body></app-body>
    </div>
    
    <div class ="scroll">
        <app-scrollabletextareas style="float: right "></app-scrollabletextareas> <!--I was not able to make the scrollable areas be next to each other-->
    </div>


    

</h1>